#/------------------!DOTENV_PRIVATE_KEYS!-------------------/
#/ private decryption keys. DO NOT commit to source control /
#/     [how it works](https://dotenvx.com/encryption)       /
#/----------------------------------------------------------/

# .env
DOTENV_PRIVATE_KEY="your_private_key_will_be_here_after_running_npx_dotenvx_encrypt"

# Note: This is an example file. Your actual .env.keys is gitignored.
# Back up your .env.keys file securely!
